html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#indexdiv
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.indexflexbox-item
{
    padding: 8px;
}

.indexflexbox-item-grow
{
    flex: 1;
}

.indexfill-area
{
    display: flex;
    flex-direction: row;    
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.indexfill-area-content
{
    overflow: auto; 
}